.chatList-area.MuiList-root {
    position: fixed;
    text-align: left;
    left: 10px;
    top: 50px;
    max-width: 15vw;
}

.chatList-buttons {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    max-width: 25vw;
}

.chatList-buttons button:hover{
    background-color: #24a4ff;
    color: white;
}
