.messageArea {
    text-align: center;
    overflow-y: scroll;
    max-height: 65vh;
    max-width: 70vw;
    margin: auto;
}

.messageArea-bordered {
    border: double 10px #24a9e7;
}

.messageArea::-webkit-scrollbar {
    width: 10px;
}

.messageArea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #24a9e7;
}
